@charset "UTF-8";

@media screen and (min-width: 1440px){
    main{
        width: 100rem;
    }

    .header img{
        width: 10rem;
    }

    .header h1{
        font-size: 5rem;
    }

    .header h1 strong{
        font-size: 5rem;
    }

    .header h2{
        font-size: 2rem;
    }

    .form{
        position: relative;
    }

    .email-box{
        width: 35rem;
        height: 5rem;
    }

    .msg-error{
        position: absolute;
        left: 25rem;
    }

    .button{
        width: 20rem;
        height: 5rem;
    }
}